body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    background-color: #ffdbf1;
    color: #ff0099;
}

div {
    border: 1px solid black;
    background-color: #ffa6db;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 90px;
    width: 400px;
    height: 10px;
    font-size: 30px;
}

p {
    font-family: "Times New Roman", Times, Serif;
}