body {
    font: 20px Montserrat, sans-serif;
    background-color: #ffdbf1;
    color: #ff0099;
}

p {
    font-family: "Times New Roman", Times, Serif;
}

.navbar {

background-color:  blue;

float: left;
}

.navbar ul {
background-color: pink;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
	  	  
ul {
	  
}

li {
float: left;
}

li a {
display: block;

color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size:  20px;
font-family: Arial, sans-serif;
}
li a:hover {
background-color: black;
}

.headerWrapper {
border-style: solid;
border-color: black;
height:  50px;
}